body{
    background-color: aliceblue;
}
div{
    background-color: white;
    border: 10px 10px 10px 10px black;
    height: 100px;
    width: 100px;
    animation-name: anim1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    box-shadow: 10px 10px 10px black;
}
@keyframes anim1
{
  from{
      background-color: red;
      transform: translate(50px,50px);
  }
  to{
      background-color: cadetblue;
      transform: translate(300px,300px)rotate(-360deg)skew(100deg);
  }
}