header{
    background-color: black;
    text-align: center;
    color: white;
}
nav{
    word-spacing: 15px;
}
a{
    color: white;
    font-size: 20px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
article
{
    background-color: azure;
    color: black;
}
aside
{
    background-color: yellow;
    color: green;
    float: right;
    padding-left: 50px;
}
footer
{
    text-align: center;
    border: 10px dotted blueviolet;
    border-color: blueviolet;
}